@import url('https://fonts.googleapis.com/css?family=Josefin+Sans'); 

#cart .logoImg {
    display: inline-block;
    height: 40px;
}

#cart .nav {
    margin: 0;
    padding: 30px;
}

#cart .cartfullCon, #cart .cartemptyCon {
    padding: 50px; 
}

#cart img {
    display: block;
    margin: 0 auto;
    /* padding: 20px; */
    max-width: 100%; 
}

#cart .cartWrapper h3 {
    padding-left: 50px;
    font-family: 'Josefin Sans', sans-serif;
    color: #fdd68c;
}

#cart .cartbtn {
    padding: 40px; 
}

#cart .cartbtn button {
    text-transform: uppercase;
}