#navhome .zeromargin {
    margin: 0; 
}

#navhome .logoImg {
    display: inline-block;
    height: 60px;
    /* padding-left: 15rem; */
    
}

#navhome .logoBtn {
    /* margin-left: 35rem; */
    /* float: right; */
}

#navhome .logoBtn button {
    color: black;
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 2px 2px 4px #9bfff6;
}

#navhome .logoBtn:hover button{
    color: white;
    background-color: #ff8243;
    border-color: #ff8243;
    box-shadow: 2px 2px 4px white;
}