@import url('https://fonts.googleapis.com/css?family=Righteous'); 

/* #productsItem .bgImg {
    background-image: url(../static/img/shopping-cart.jpg);
    height: -moz-available;          
    height: -webkit-fill-available;  
    height: fill-available;
} */

/* .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
} */

#productsItem .overlay {
    /* background-image: linear-gradient(to bottom right, rgba(40, 40, 40, 0.23), rgba(0, 205, 175, 0.23)); */
    background-color: rgba(40, 40, 40, 0.7);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 128vh;
    color: white;
    /* padding-top: 60px; */
}

#productsItem .item {
    margin: 0; 
}

#productsItem .floatRight {
    float: right;
}

#productsItem span {
    padding: 5px;
}

#productsItem .header, #productsItem .description, #productsItem .price {
    font-family: 'Righteous', cursive;
}

#productsItem .header {
    font-size: 4.5rem;
    padding: 10px;
}

#productsItem .description, #productsItem .price {
    font-size: 1.5rem;
}

#productsItem .description, #productsItem .cinema {
    padding: 15px;
    color: wheat;
}

#productsItem .extra {
    padding: 15px;
}


#productsItem .price {
    padding: 10px;
    color: #f2711c;
}

